{% extends 'base.html.twig' %}

{% block title %}Liste des Produits{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Liste des Produits</h1>

    <div class="d-flex justify-content-end mb-3">
        <a href="{{ path('produit_new') }}" class="btn btn-primary">Créer un Produit</a>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Catégorie</th>
            </tr>
        </thead>
        <tbody>
            {% for produit in produits %}
                <tr>
                    <td>{{ produit.nom }}</td>
                    <td>{{ produit.prix }} FCFA</td>
                    <td>{{ produit.categorie.nom }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3" class="text-center">Aucun produit disponible.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
